*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainBlue: blue;
	--mainYellow: #d2aa5c;
}

body {
	font-family: "Montserrat";
	/* color: red; */
	/* background: var(--mainBlue); */
}